

*{ 
    font-family: 'Product Sans', sans-serif;
}
 footer{
    margin-top: 10%;
 }
.accesos{
    display: grid;

}
img{
    width: 50px;
    height: 50px;
}

.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-size: 15px;
    list-style-type:none;
    margin-bottom: 50px;

    
}
.container img{
    margin-left: 40%;
}
.social{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 140px;
    height: 20px;
    background-color: rgba(173, 173, 173, 0.721);
    border-radius: 15px;
    padding: 8px;
    margin-left: 50px;
    padding-right: 30px;
    
}

.social img{
    width: 20px;
    height: 20px;
}

.terminosyCondiciones{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    width: 600px;
    padding: 30px;
    margin-left: 30%;
    margin-bottom: 30px;
    

}

hr{
    width: 90%;
    border-color: #423d3d ;
}