<app-nav></app-nav>
<main>
  <section class="sectionShortVideo">
    <div class="targetVideo">
      <iframe src="https://www.youtube.com/embed/8L-FQLajkYY" frameborder="0"></iframe>
      <p class="titleVideo">Este es un ejemplo de un titulo para una tarjeta</p>
    </div>

  </section>
  <section class="sectionNewInfo" *ngFor="let date of news">
    <div class="categoryAndDate">
      <button><div></div> {{date.Category}}</button>
      <p>{{date.PublicationDate}}</p>
    </div>
    <div class="titleAndInformation">
      <h2>{{date.Title}}</h2>
      <hr>
      <p>By {{date.Author}} on {{date.PublicationDate}}</p>
    </div>
    <div class="parrafAndImages">
      <p>{{date.Description}}</p>
      <div class="slideImages">
        <img class="imageSlide" src={{date.ImagenURL}} alt="">
        <img class="imageSlide" src={{date.ImagenURL}} alt="">
        <img class="imageSlide" src={{date.ImagenURL}} alt="">
      </div>
      <p>{{date.Description}}</p>
    </div>
      
  </section>
  <section class="sectionComments">
    <div class="sectionCommentarys">
      <p>Interactúa con el artículo <i class="fa-solid fa-chevron-down"></i></p>
      <hr>
      <div class="inputCommentary">
        <input type="text" name="commentary" id="commentary" placeholder="Escribe tu comentario">
        <button><i class="fa-solid fa-paper-plane"></i></button>
      </div>
      <hr>
    </div>
    <div class="othersCommentarys">
      <div class="comment">
        <p class="userName">Usuario x : <span>Hagalo reaaaaaaalAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</span></p>
      </div>
      <div class="comment">
        <p class="userName">Usuario y : <span>Ya estuvooooo</span></p>
      </div>
      <div class="viewAllComments">
        <i class="fa-solid fa-comments commentaryIcon"></i> 
        <button>Ver todos los comentario(27)</button>
      </div>
    </div>
    <div class="interactionNew">
      <button class="save" ><i class="fa-solid fa-bookmark"></i></button>
      <button class="share" ><i class="fa-solid fa-share"></i></button>
      <div class="likeAndDislike">
        <button class="like" ><i class="fa-solid fa-heart"></i></button>
        <hr>
        <button class="dlike" ><i class="fa-sharp fa-solid fa-heart-crack"></i></button>
      </div>
    </div>
  </section>
  <section class="rightPart">
    <div class="containerNav">
      <ul class="navPodcast">
        <li class="selected">Popular</li>
        <li>Reciente</li>
        <li>Tendencia</li>
      </ul>
    </div>
    <div class="containerPodcast" id="containerPodcast">
      <div class="podcast" *ngFor="let dataPodcast of podcastItems">
        <div class="buttonPlay">
          <audio src="{{dataPodcast.entity.data.audioPreview.url}}" controls preload="auto"></audio>
        </div>
        <div class="informationPodcast">
          <p class="titlePodcast">{{dataPodcast.entity.data.name}}</p>
        </div>
        <div class="duration">
          <p>2:25</p>
        </div>
        <div class="audioItem">
        </div>
      </div>
    </div>
    <div class="bannerAdvertising">
      <img src="../../../assets/details news/banner ejemplo.avif" alt="">
    </div>
  </section>
</main>
<app-footer></app-footer>

