<main>
    <div class="conteiner">
        <section>
            <h2>NEWS </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntu Asperiores excepturi sunt veniam eos, dicta praesentium nostrum tenetur consequatur dolore repellat obcaecati nobis, vitae, iusto alias tempora iure quaerat quisquam. Accusantium.</p>

        </section>

        <section class="new-suscription">
            <p>Entérate siempre de las ultimas <b>noticias y ofertas del nuevo mundo</b> </p>
            <button>suscribete</button>
        </section>
    </div>
    <hr>


    <div class="new-conteiner">
        <div class="news-one">
            <img src="../../../assets/new/Punto_verde.png" >
            <h5> Noticias</h5> 
            <h4>Stray</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button>Ver Noticias > </button>
        </div>
        <div class="news-two">
        <div>
            <img src="../../../assets/new/Punto_verde.png" >
            <h5>Noticias</h5>
            <h4>NFT- BARCELONA</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button>Ver Noticias > </button>
        </div>
        <div class="news-three" >
            <img src="../../../assets/new/Punto_verde.png" >
            <h5>Noticias</h5>
            <h4>NFT Mas vendido</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button>Ver Noticias > </button>
        </div>
    </div>
    </div>
    <label>
    <button class="btnR">  </button>    | 
    <button class="btnL">  </button> 
</label>
<label><hr></label>
</main>
