<main>
    <div class="news">
        <label>
            <h2>NEWS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam autem nobis eos iste officiis. Eaque non dolor natus ea! Delectus corrupti error non similique tempora at quidem nostrum eius obcaecati.</p>
        </label>
        <section>
            <p>Enterate siempre de las ultimas noticias y ofertas del nuevo mundo</p>
            <button> <a routerLink='/membership'>Suscribete</a></button>
            <hr>
        </section>
    </div>
        <div class="new-conteiner">
            <section>
                <h5><img src="../../../assets/new/Punto_verde.png"> Noticias</h5>
                <h4>Stray</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <button><a routerLink='/news'>Ver noticias</a> <img src="../../../assets/new/ArrowR.png"></button>
            </section>
            <div>
                <section>
                    <h5><img src="../../../assets/new/Punto_verde.png"> Noticias</h5>
                    <h4>NFT-BARCELONA</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <button><a routerLink='/news'>Ver noticias</a> <img src="../../../assets/new/ArrowR.png"></button>  
                </section>
                <section id="new" >
                    <h5><img src="../../../assets/new/Punto_verde.png"> Noticias</h5>
                    <h4>NFT Mas Vendido</h4>
                    <p>La beta de Halo infinite ya tiene fecha y evento de presentación.</p>
                    <button><a routerLink='/news'>Ver noticias</a> <img src="../../../assets/new/ArrowR.png"></button>
                </section>
            </div>
            <button class="btn-l"> <img src="../../../assets/new/Arrow_L.png"></button>
            <button class="btn-r"> <img src="../../../assets/new/ArrowR.png"></button>
        </div>
    <hr>
</main>