*{
    font-family: 'Product Sans', sans-serif;
    /* font-family: 'Outer Limits Solid', sans-serif;*/

}

a{
    text-decoration: none;
    color: white;
}
.news{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    margin: 0 0 0 10%;
}

.news > section > button{
    display: inline-block;
    background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
    border-radius: 15px;
    height: 20%;
    width: 25%;
    color: white;
    border: none;
    margin: 0 0 2% 0;
    font-size: 15px;
}

.news > section > button:hover{
    background: linear-gradient(167deg, rgb(19, 114, 105) 0%, rgb(83, 148, 80) 100%);
    cursor: pointer;
}
.news > label > p{
    display: inline-block;
    width: 90%;
    margin: 0 0 0 0;
}
.news > section > p{
    display: inline-block;
    width: 50%;
    margin: 10% 0 0 0; 
}

.news > section > hr{
    width: 70%;
    margin: 0;
}

.news > label > h2{
    font-family: 'Outer Limits Solid', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.new-conteiner{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    height: 50vh;
    margin: 2% 0 0 10%;
}
.new-conteiner > section > h5 > img{
    object-fit: contain;
    width: 10%;
}
.new-conteiner > section > h5 {
    text-align: center;
    width: 13%;
    height: 5%;
    margin: 5% 0 0 85%;
    background-color:rgba(26, 26, 26, 0.692);
    border-radius: 15px;
}
.new-conteiner > section > label> h5 > img{
    object-fit: contain;
    width: 1.5%;
}

.new-conteiner > section > button{
    display: inline-block;
    border-radius: 10px;
    height: 10%;
    background-color:rgba(179, 179, 179, 0.384) ;
    border: none;
    margin: 0 2% 0 2%;
}
.new-conteiner > section > button:hover{
    background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
    cursor: pointer;
}

.new-conteiner > section > button > img{
    object-fit: contain;
    width: 6%;
    margin: 0 0 0 0;
}
.new-conteiner > section > p{
    display: inline-block;
    width: 70%;
    margin: 0 0 0 5%;
}
.new-conteiner > section > h4{
    width: 70%;
    margin: 35% 5% 0 5%;
}
.btn-l{
    width: 5%;
    height: 30%;
    background-color: rgba(179, 179, 179, 0.384);
    border-radius: 5px 0 0 5px ;
    border: none;
    margin: 5% 0 0 110%;
    cursor: pointer;
}

.btn-r{
    width: 3.3%;
    height: 30%;
    background-color: rgba(179, 179, 179, 0.384);
    border-radius: 0 5px 5px 0 ;
    border: none;
    margin: 3.3% 0 0 10%;
    cursor: pointer;
}
.btn-l:hover{
    cursor: pointer;
    background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
}
.btn-r:hover:hover{
    cursor: pointer;
    background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
}
.new-conteiner > button > img{
    object-fit: contain;
    width: 30%;
}

.new-conteiner > section {
    width: 95%;
    border-radius: 15px;
    background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202206/0300/E2vZwVaDJbhLZpJo7Q10IyYo.png);
    background-size: 100% 150%;
    background-repeat: no-repeat;
}
.new-conteiner > section > label{
    border-radius: 15px;
    height: 80%;
}

.new-conteiner > div > section > h5 > img {
    object-fit: contain;
    width: 8%;
}

.new-conteiner > div > section > h5 {
    text-align: center;
    width: 10%;
    margin: 2% 0 0 85%;
    background-color:rgba(26, 26, 26, 0.692);
    border-radius: 15px;
}
.new-conteiner > div > section > button{
    display: inline-block;
    border-radius: 10px;
    height: 20%;
    background-color:rgba(179, 179, 179, 0.384) ;
    border: none;
    margin: 0 2% 0 2%;
}

.new-conteiner > div > section > button:hover{
    background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
    cursor: pointer;
}
.new-conteiner > div > section > button > img{
    object-fit: contain;
    width: 6%;
    margin: 0 0 0 0;
}

.new-conteiner > div {
display: grid;
grid-template-rows: 50% 50%;
}
.new-conteiner > div > section{
    height: 95%;
    border-radius: 15px;
    background-image: url("https://imagenes.elpais.com/resizer/mpMS5yJgWUF-ReSv5E6ASxBs6NI=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/C3DOG3POWNFBPHGHJL2BD4M7SQ.jpg");
    background-size: 100% 170%;
    background-repeat:repeat;
}

#new  {
    background-image: url("https://assets-global.website-files.com/5e73a1e3ba24f2cd5dd2232a/6266ee6f424054f713441d46_Jogos%20NFT%20o%20que%20s%C3%A3o%20e%20como%20funcionam.jpg");
    background-size: 100% 160%;
    background-repeat: no-repeat;
}
.new-conteiner >div > section > p{
    display: inline-block;
    width: 80%;
    margin: 0 0 0 5%;
}
.new-conteiner > div > section > h4{
    width: 80%;
    margin: 5% 5% 0 5%;
}

 main > hr{
    height:20vh;
    width:0.01px;
    margin: 0 0 0 10%;
}