<app-nav></app-nav>
<main>
  <!--BUSQUEDA DE PROFESIONALES -->
  <div class="professional-search">
    <h3>PUBLIICDAD MODERNA CREATIVA Y EXPERIENCIA DIGITAL</h3>
    <p>Suscribete para recibir lanzamientos, descuentos y contenido del mundo de la inmersidad</p>
    <input type="text" placeholder="¿Que quieres buscar?">
  </div>
  <section class="option-prof">
    <button>Arte digital <img src="../../../assets/portafolio/rojo.png"></button>
    <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
    <button>3d artista <img src="../../../assets/portafolio/rojo.png"></button>
    <button>Arte digital <img src="../../../assets/portafolio/morado.png"></button>
    <button>Programador<img src="../../../assets/portafolio/azul.png"></button>
    <img src="../../../assets/new/ArrowR.png">
  </section>
  <!--OPCIONES Y FILTRO DE PROFESIONALES-->
  <div class="filter-professional">
    <button><img src="../../../assets/portafolio/seguidor.png">Siguiendo</button>
    <hr>
    <button>Reciente</button>
    <hr>
    <button>Popular</button>
    <p></p>
    <a routerLink='/'><button>Proyectos</button></a>
    <a routerLink='/detailsBriefcase'><button id="btns">Artistas</button></a>
    <button id="filt"><img src="../../../assets/portafolio/filtro.png">Filtro</button>
  </div>
  <a>
    <hr>
  </a>
  <div class="conteiner">
    <div class="profile-conteiner">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img src="https://img.freepik.com/iconos-gratis/avatar_318-158392.jpg?w=2000">
              <hr>
              <p>03/2023</p>
            </div>
            <label>
              <h5>Antonio J. Mazanedo</h5>
              <h3>Artista Freelance</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">Medellin, Colombia</p>
            </label>
          </div>
        </div>
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eum at sint praesentium ratione blanditiis
          exercitationem, magnam quae vel dicta et, nisi laborum deserunt ipsam, eos voluptatibus facilis sed. Earum!
        </p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img
          src="https://i.seadn.io/gae/AauJ35NLULUY_Umrn1fRwWXXbKdURcC7kSk0KW3KZ8ez5LG8QTJIXqZw-UKQ1YW27g-EQJh6qH_lcz5JCTjexOei8rKBUyCCqUgq?auto=format&w=1000">
        <img src="https://img.freepik.com/premium-photo/black-cat-cartoon-funny-cute-3d-animals-pets_807814-77.jpg">
        <img src="https://img.freepik.com/psd-gratis/ilustracion-hombres-dibujos-animados-3d_1150-58980.jpg">
      </section>
    </div>

    <div class="profile-conteiner">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img src="https://img.freepik.com/iconos-gratis/avatar_318-158392.jpg?w=2000">
              <hr>
              <p>03/2023</p>
            </div>
            <label>
              <h5>Antonio J. Mazanedo</h5>
              <h3>Artista Freelance</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">Medellin, Colombia</p>
            </label>
          </div>
        </div>
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eum at sint praesentium ratione blanditiis
          exercitationem, magnam quae vel dicta et, nisi laborum deserunt ipsam, eos voluptatibus facilis sed. Earum!
        </p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img
          src="https://i.seadn.io/gae/AauJ35NLULUY_Umrn1fRwWXXbKdURcC7kSk0KW3KZ8ez5LG8QTJIXqZw-UKQ1YW27g-EQJh6qH_lcz5JCTjexOei8rKBUyCCqUgq?auto=format&w=1000">
        <img src="https://img.freepik.com/premium-photo/black-cat-cartoon-funny-cute-3d-animals-pets_807814-77.jpg">
        <img src="https://img.freepik.com/psd-gratis/ilustracion-hombres-dibujos-animados-3d_1150-58980.jpg">
      </section>
    </div>
  </div>
  <div class="conteiner">
    <div class="profile-conteiner">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img src="https://img.freepik.com/iconos-gratis/avatar_318-158392.jpg?w=2000">
              <hr>
              <p>03/2023</p>
            </div>
            <label>
              <h5>Antonio J. Mazanedo</h5>
              <h3>Artista Freelance</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">Medellin, Colombia</p>
            </label>
          </div>
        </div>
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eum at sint praesentium ratione blanditiis
          exercitationem, magnam quae vel dicta et, nisi laborum deserunt ipsam, eos voluptatibus facilis sed. Earum!
        </p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img
          src="https://i.seadn.io/gae/AauJ35NLULUY_Umrn1fRwWXXbKdURcC7kSk0KW3KZ8ez5LG8QTJIXqZw-UKQ1YW27g-EQJh6qH_lcz5JCTjexOei8rKBUyCCqUgq?auto=format&w=1000">
        <img src="https://img.freepik.com/premium-photo/black-cat-cartoon-funny-cute-3d-animals-pets_807814-77.jpg">
        <img src="https://img.freepik.com/psd-gratis/ilustracion-hombres-dibujos-animados-3d_1150-58980.jpg">
      </section>
    </div>
    <div class="profile-conteiner">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img src="https://img.freepik.com/iconos-gratis/avatar_318-158392.jpg?w=2000">
              <hr>
              <p>03/2023</p>
            </div>
            <label>
              <h5>Antonio J. Mazanedo</h5>
              <h3>Artista Freelance</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">Medellin, Colombia</p>
            </label>
          </div>
        </div>
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eum at sint praesentium ratione blanditiis
          exercitationem, magnam quae vel dicta et, nisi laborum deserunt ipsam, eos voluptatibus facilis sed. Earum!
        </p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img
          src="https://i.seadn.io/gae/AauJ35NLULUY_Umrn1fRwWXXbKdURcC7kSk0KW3KZ8ez5LG8QTJIXqZw-UKQ1YW27g-EQJh6qH_lcz5JCTjexOei8rKBUyCCqUgq?auto=format&w=1000">
        <img src="https://img.freepik.com/premium-photo/black-cat-cartoon-funny-cute-3d-animals-pets_807814-77.jpg">
        <img src="https://img.freepik.com/psd-gratis/ilustracion-hombres-dibujos-animados-3d_1150-58980.jpg">
      </section>
    </div>
  </div>
  <div class="conteiner">
    <div class="profile-conteiner">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img src="https://img.freepik.com/iconos-gratis/avatar_318-158392.jpg?w=2000">
              <hr>
              <p>03/2023</p>
            </div>
            <label>
              <h5>Antonio J. Mazanedo</h5>
              <h3>Artista Freelance</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">Medellin, Colombia</p>
            </label>
          </div>
        </div>
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eum at sint praesentium ratione blanditiis
          exercitationem, magnam quae vel dicta et, nisi laborum deserunt ipsam, eos voluptatibus facilis sed. Earum!
        </p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img
          src="https://i.seadn.io/gae/AauJ35NLULUY_Umrn1fRwWXXbKdURcC7kSk0KW3KZ8ez5LG8QTJIXqZw-UKQ1YW27g-EQJh6qH_lcz5JCTjexOei8rKBUyCCqUgq?auto=format&w=1000">
        <img src="https://img.freepik.com/premium-photo/black-cat-cartoon-funny-cute-3d-animals-pets_807814-77.jpg">
        <img src="https://img.freepik.com/psd-gratis/ilustracion-hombres-dibujos-animados-3d_1150-58980.jpg">
      </section>
    </div>

    <div class="profile-conteiner">
      <section>
        <div class="info-person">
          <div class="person">
            <div class="person-perfil">
              <img src="https://img.freepik.com/iconos-gratis/avatar_318-158392.jpg?w=2000">
              <hr>
              <p>03/2023</p>
            </div>
            <label>
              <h5>Antonio J. Mazanedo</h5>
              <h3>Artista Freelance</h3>
              <hr>
              <p><img src="../../../assets/portafolio/ubicacion.png">Medellin, Colombia</p>
            </label>
          </div>
        </div>
        <label>
          <button>Arte digital <img src="../../../assets/portafolio/azul.png"></button>
          <button>3d Artistas<img src="../../../assets/portafolio/morado.png"></button>
        </label>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eum at sint praesentium ratione blanditiis
          exercitationem, magnam quae vel dicta et, nisi laborum deserunt ipsam, eos voluptatibus facilis sed. Earum!
        </p>
      </section>
      <hr id="galery-hr">
      <section class="galery">
        <img
          src="https://i.seadn.io/gae/AauJ35NLULUY_Umrn1fRwWXXbKdURcC7kSk0KW3KZ8ez5LG8QTJIXqZw-UKQ1YW27g-EQJh6qH_lcz5JCTjexOei8rKBUyCCqUgq?auto=format&w=1000">
        <img src="https://img.freepik.com/premium-photo/black-cat-cartoon-funny-cute-3d-animals-pets_807814-77.jpg">
        <img src="https://img.freepik.com/psd-gratis/ilustracion-hombres-dibujos-animados-3d_1150-58980.jpg">
      </section>
    </div>
  </div>
</main>
<app-footer></app-footer>