<app-nav></app-nav>
<main>
  <section class="leftPart">
    <div class="profile">
      <img src="../../../assets/profile/Perfil.jpg" alt="">
      <p class="nameUser">Antonio J. Manzanedo</p>
      <p class="rolUser">ARTISTA <br> FREELANCE</p>
      <button class="editProfile"><i class="fa-solid fa-gear"></i></button>
    </div>
    <div class="favThemes">
      <p class="text">Tus temas favortios</p>
      <div class="themes">
        <div class="theme">
          <p>Arte digital</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>3d artista</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>Series y peliculas</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>Arte digital</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>Programador</p>
          <div class="circule"></div>
        </div>
        <div class="theme addTheme">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="centerPart">
    <div class="sectionTitle">
      <i class="fa-solid fa-diamond"></i>
      <p><b>Noticias</b> - ultimas noticias para ti</p>
    </div>
    <div class="lastNew">
      <div class="contentLastNew">
        <div class="category">
          <div class="circule"></div>
          <p>Series y peliculas</p>
        </div>
        <div class="informationNew">
          <div class="titleNew">Valorant - new version 5.1</div>
          <div class="decriptionNew">Es una serie de televisión estadounidense postapocalíptica que se estrenó el 15 de
            enero de 2023</div>
          <div class="dateNew">17 de marzo 2023</div>
        </div>
      </div>
    </div>
    <div class="targetNew">
      <div class="categoryAndDate">
        <div class="category">
          <div class="circule"></div>
          <p>Series y peliculas</p>
        </div>
        <p>17 de Marzo 2023</p>
      </div>
      <div class="informationNew">
        <p class="titleNew"></p>
        <p class="descriptionNew">Es una serie de televisión estadounidense postapocalíptica que se estrenó el 15 de
          enero de 2023</p>
      </div>
      <img src="../../../assets/News/News 1/Img_News/Ns_1.png" alt="">
    </div>
    <div class="targetNew">
      <div class="categoryAndDate">
        <div class="category">
          <div class="circule"></div>
          <p>Series y peliculas</p>
        </div>
        <p>17 de Marzo 2023</p>
      </div>
      <div class="informationNew">
        <p class="titleNew"></p>
        <p class="descriptionNew">Es una serie de televisión estadounidense postapocalíptica que se estrenó el 15 de
          enero de 2023</p>
      </div>
      <img src="../../../assets/News/News 1/Img_News/Ns_1.png" alt="">
    </div>
    <div class="allNews">
      <button><i class="fa-solid fa-newspaper"></i>Ver todas las noticias</button>
    </div>
    <div class="podcastNew">
      <img src="../../../assets/profile/Perfil.jpg" alt="">
      <div class="informationPodcast">
        <div class="titlePodcast">
          <p>Goofy Podcast<span>Cap 12</span></p>
        </div>
        <audio src=""></audio>
      </div>
    </div>
  </section>
  <section class="rightPart">
    <div class="briefcase">
      <div class="navBriefcase">
        <i class="fa-solid fa-diamond"></i>
        <p><b>Portafolio</b></p>
        <hr> <button><i class="fa-solid fa-user"></i> Ver mi portafolio</button>
      </div>
      <div class="proyects">
        <div class="infoAndMore">
          <p>Proyectos creados</p>
          <p class="proyectBy">por Antonio J. Manzanedo</p>
          <button>Explorar proyectos</button>
        </div>
        <div class="proyectsTarget">
          <div class="target">
            <img src="" alt="">
            <div class="infoProyect">
              <img src="" alt="">
              <p>Agyness Deyn</p>
              <div class="buttons">
                <button class="follow"></button>
                <button class="like"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>