<app-nav></app-nav>
<main>
  <section class="leftPart">
    <div class="profile">
      <img src="../../../assets/profile/Perfil.jpg" alt="">
      <p class="nameUser">Antonio J. Manzanedo</p>
      <p class="rolUser">ARTISTA <br> FREELANCE</p>
      <button class="editProfile"><i class="fa-solid fa-gear"></i></button>
    </div>
    <div class="favThemes">
      <p class="text">Tus temas favortios</p>
      <div class="themes">
        <div class="theme">
          <p>Arte digital</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>3d artista</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>Series y peliculas</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>Arte digital</p>
          <div class="circule"></div>
        </div>
        <div class="theme">
          <p>Programador</p>
          <div class="circule"></div>
        </div>
        <div class="theme addTheme">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="centerPart">
    <div class="sectionTitle">
      <i class="fa-solid fa-diamond"></i><p><b>Noticias</b> - ultimas noticias para ti</p>
    </div>
    <div class="lastNew">
      <div class="category">
        <div class="circule"></div><p>Series y peliculas</p>
      </div>

      <div class="informationNew">
        <div class="titleNew">Valorant - new version 5.1</div>
        <div class="decriptionNew">Es una serie de televisión estadounidense postapocalíptica que se estrenó el 15 de enero de 2023</div>
        <div class="dateNew">17 de marzo 2023</div>
      </div>
    </div>
  </section>
  <section class="rightPart"></section>
</main>