<app-nav></app-nav>
<main>
    <!--CURSO-->
    <div class="course">
        <section>
            <section class="courses">
            <h3>CREACION DE NFT:</h3>
            <p>Dentro de las posibilidades que ofrecen las redes sociales hoy en dia, no cabe duda de que Instagram Stroies es la</p>
            </section> 
            <div class="module">
                <section>
                <img src="../../../assets/cursos/vidanegra.png">
                <h4>Modulos</h4>
                </section>
                <div class="section-modules">
                    <section>
                        <img src="">
                        <label>
                        <h3>Antes de empezar</h3>
                        <h4>3 clases</h4>
                        </label>
                        <img src="../../../assets/cursos/ionic-ios-arrow-up.png">
                    </section>
                    <section>
                        <img src="">
                        <label>
                        <h3>Antes de empezar</h3>
                        <h4>3 clases</h4>
                        </label>
                        <img src="../../../assets/cursos/ionic-ios-arrow-up.png">
                    </section>
                    <section>
                        <img src="">
                        <label>
                        <h3>Antes de empezar</h3>   
                        <h4>3 clases</h4>
                        </label>
                        <img src="../../../assets/cursos/ionic-ios-arrow-up.png">
                    </section>
                </div>

            </div>
        </section>
        <section>
            <iframe width="860" height="415"  src="https://www.youtube.com/embed/0CWZ6-hWeH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </div>
    <!--OPCIONES INTERACCION DEL CURSO-->
    <div class="option-courses">
        <section class="attachments">
            <img src="../../../assets/cursos/archivo.png">
            <label>
            <u>Descargar los adjuntos</u>
            <p>Recursos necesarios para el curso</p>
            </label>
        </section>
        <section class="play">
        <button><img src="../../../assets/cursos/anterior.png"></button> 
        <button><img src="../../../assets/cursos/siguiente.png"></button>
        <h5>Siguiente clase</h5>
        </section>
        <section class="galery">
            <img src="../../../assets/cursos/galeria.png">
            <h5>Galeria</h5>
        </section>
        <button><img src="../../../assets/cursos/fleca.png"></button>
        <section class="like">
            <button><img src="../../../assets/portafolio/Heart-follow.png"></button>
            <button><img src="../../../assets/portafolio/Heart-nofollow.png"></button>
        </section>
        <section class="comments">
            <img src="../../../assets/cursos/comentarios.png">
            <p>Ver todos los comentarios (27)</p>
        </section>
    </div>

    <!--SECCION DETALLES INFOERMACION DEL CURSO-->
    <div class="details-course">
        <div class="conteiner-links">
            <div class="links">
            <section>
                <img src="../../../assets/cursos/sitioweb.png">
                <a><hr></a>
                <p><strong>Enlaces necesarios</strong> 2 links</p>
            </section>
            <section>
                <label>
                    <article>
                    <u>Open Ai</u>
                    <h6>www.openai.com</h6>
                    </article>
                    <img src="../../../assets/cursos/enlace.png">
                </label>
                <hr>
            </section>
            <section>
                <label>
                    <article>
                    <u>Descargar adobe lightroom</u>
                    <h6>www.adobe.com/co/prod.cts/photoshop</h6>
                    </article>
                    <img src="../../../assets/cursos/enlace.png">
                </label>
                <hr>
            </section>
            </div>
            <div class="files">
                <section>
                    <img src="../../../assets/cursos/pdf.png">
                    <a><hr> </a>
                    <p><strong>Archivos pdf</strong> 3 archivos</p>
                </section>
                <section>
                    <label>
                        <article>
                            <u>Lista de otros programas de edicion</u>
                            <h6>.pdf</h6>
                        </article>
                            <img src="../../../assets/cursos/descarga.png">    
                    </label>
                <hr>
                </section>
                <section>
                    <label>
                        <article>
                            <u>Lista de otros programas de edicion</u>
                            <h6>.pdf</h6>
                        </article>
                            <img src="../../../assets/cursos/descarga.png">    
                    </label>
                <hr>
                </section>
                <section>
                    <label>
                        <article>
                            <u>Lista de otros programas de edicion</u>
                            <h6>.pdf</h6>
                        </article>
                            <img src="../../../assets/cursos/descarga.png">    
                    </label>
                <hr>
                </section>
            </div>
        </div>

        <!--DESCRIPCION DE LOS COMENTARIOS-->
        <section class="description-comments">
            <label>
               <section>
               <img src="../../../assets/cursos/Star.png"> 
               <p>4,9</p>
                </section>
               <h3>CREACION DE NFT:</h3>
               <img src="../../../assets/new/Punto_verde.png"> 
               <hr>
            </label>
            <label class="price">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat hic ex modi in a ab nostrum molestiae nemo dolorem nulla rerum doloremque necessitatibus tempora tenetur, deserunt voluptates, blanditiis exercitationem nam!</p>
                <div>
                <hr>
                <h4>$54.900 Cop</h4>
                <h5>65% Dto. <del>$156.000 cop</del></h5>
                </div>
                <button>Obtener curso > </button>
                <button> ► Mas informacion</button>
            </label>
            <div class="info-course">
                <div class="person">
                    <div class="person-perfil">
                    <img src="https://xavierferras.com/wp-content/uploads/2019/02/266-Persona.jpg">
                    <hr>
                    <p>03/2023</p>
                    </div>
                    <label>
                    <h5>Vayana Silva</h5>
                    <h3>Directora Creativa en Bunker3022</h3>
                    <hr>
                    <div class="qualification">
                        <img src="../../../assets/cursos/Star.png">
                        <img src="../../../assets/cursos/Star.png">
                        <img src="../../../assets/cursos/Star.png">
                        <img src="../../../assets/cursos/Star.png">
                        <img src="../../../assets/cursos/Star_1.png">
                        </div>      
                    </label>
                </div>
                            
                <section class="details-info-curso">
                    <label>
                        <img src="../../../assets/cursos/mundo.png">
                        <h5>100% online</h5>
                        <p>Vaya Silva</p>
                    </label>
                    <label>
                        <img src="../../../assets/cursos/tiempo.png">
                        <h5>12 horas de curso</h5>
                        <p>A tu ritmo</p>
                    </label>
                    <label>
                        <img src="../../../assets/cursos/idioma.png">
                        <h5>Ingles/ Español</h5>
                        <p>Vaya Silva</p>
                    </label>
                </section>
            </div>           
        </section>
        <!-- SECCION PARA ESCRIBIR COMENTARIOS-->
        <section class="write-comments">
            <input type="text" placeholder="Escribe tu comentario">
            <button><img src="../../../assets/cursos/enviar.png"></button>
            <hr>
            <label>
                <h4>fernandopinto5:</h4>
                <p>Que nivel.</p>
                <hr>
                <a><img src="../../../assets/cursos/comentarios.png">Responder</a>
                <a><img src="../../../assets/portafolio/Heart-follow.png">Me gusta</a>
            </label>
            <label>
                <h4>aaronpelao_:</h4>
                <p>@fernandopinto5 puro talento mi bro.</p>
                <hr>
                <a><img src="../../../assets/cursos/comentarios.png">Responder</a>
                <a><img src="../../../assets/portafolio/Heart-follow.png">Me gusta</a>
            </label>
            <label>
                <h4>Mon Avellanede:</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sed, illum veniam magni, sit dignissimos odit doloremque temporibus nesciunt architecto alias voluptatum.</p>
                <hr>
                <a><img src="../../../assets/cursos/comentarios.png">Responder</a>
                <div>
                    <img *ngIf="counters[1] > 0" src="../../../assets/portafolio/Heart-follow.png">
                    <img *ngIf="counters[1] === 0" src="../../../assets/portafolio/Heart-nofollow.png">
                    <button (click)="toggleFavorite(1)"> Me gusta</button>
                </div>
            </label>
        </section>
    </div>
    <!--SECCION DE GALERIA-->
    <div class="galery-details">
        <section>
            <label>
            <img src="../../../assets/cursos/galeria.png">
            <h5>Galeria</h5>
            </label>
            <article>
            <p>Recientes |</p>
            <p>Popular</p>
            </article>
            <hr>
            <p>02/14</p>
            <button><img src="../../../assets/new/Arrow_L.png"></button>
            <button><img src="../../../assets/new/ArrowR.png"></button>
        </section>
        <div class="photo-galery">
        <section>
            <img src="https://i.pinimg.com/736x/bc/6c/41/bc6c4148b6e18881680d05acfea14998.jpg">
            <label>
            <p> <strong>Daniel Pascal </strong>- Fotografia smrth</p>
            <img src="../../../assets/portafolio/Heart-follow.png">
            </label>
        </section>
        <section>
            <img src="https://phantom-marca.unidadeditorial.es/bc8b8557aee720b65c010633ea45c8eb/assets/multimedia/imagenes/2020/04/01/15857360171122.jpg">
            <label>
            <p> <strong>losermal</strong>- Fotografia smrth</p>
            <img src="../../../assets/portafolio/Heart-follow.png">
            </label>
        </section>
        <section>
            <img src="https://www.infobae.com/new-resizer/IibFZd2trwxGZJ0vjaekl9dSmps=/1200x900/filters:format(webp):quality(85)//cloudfront-us-east-1.images.arcpublishing.com/infobae/7DO3XYSQMVBUFI2B7CZDFAA3OY.jpeg">
            <label>
            <p> <strong>Daniel Pascal </strong>- Fotografia smrth</p>
            <img src="../../../assets/portafolio/Heart-follow.png">
            </label>
        </section>
        <section>
            <img src="https://fotografias.flooxernow.com/clipping/cmsimages02/2020/04/17/94CF6337-C723-4268-85DB-49829DC9112D/98.jpg?crop=4000,2251,x0,y1099&width=1900&height=1069&optimize=high&format=webply">
            <label>
            <p> <strong>losermal </strong>- Fotografia smrth</p>
            <img src="../../../assets/portafolio/Heart-follow.png">
            </label>
        </section>
    </div>
    </div>
</main>
<app-footer></app-footer>