<app-nav></app-nav>
<main>
  <section class="leftPart">

    <div class="targetNew" (click)="getId(date._id)" *ngFor="let date of news" [routerLink]="[ '/details-news', date._id ]">
      <div class="content" id="{{date._id}}">
        <div class="buttonDate">
          <button>{{date.Author}}</button>
          <span>{{date.PublicationDate}}</span>
        </div>
        <p class="titleTarget">
          {{date.Title}}
        </p>
        <p class="descriptionTarget">
          {{date.Description}}
        </p>
      </div>
      <img src={{date.ImagenURL}} alt="" />
    </div>

  </section>
  <section class="centerPart" >
    <img class="imageBackground" src="../../../assets/News/News 1/Cajon medio/img/Trazado 68.png" alt="" />
    <div class="categoryAndTitle">
      <button>{{popularNew.Category}}</button>
      <p>{{popularNew.Title}}</p>
    </div>
    <div class="tiktokApi">
      <div class="headerTikTok">
        <img src="../../../assets/News/News 1/Cajon medio/Imagen 59.png" alt="">
      </div>
      <div class="sectionVideos">
        <img src="../../../assets/News/News 1/Cajon medio/Grupo de desplazamiento 14.png" alt="">
      </div>
    </div>
    <div class="information">
      <p>{{popularNew.Description}}</p>
      <div class="targetVideo">
        <div class="targetVideoMin">
          <a href="">
            <img src={{popularNew.ImagenURL}} alt="" />
          </a>
        </div>
        <div class="targetVideoMin">
          <a href="">
            <img src={{popularNew.ImagenURL}} alt="" />
          </a>
        </div>
        <div class="targetVideoMin">
          <a href="">
            <img src={{popularNew.ImagenURL}} alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="buttonsEnd">
      <a class="lookVideo" href="">Ver video corto</a>
      <a class="readArticule"  [routerLink]="[ '/details-news', popularNew._id ]">Leer el articulo completo</a>
    </div>
  </section>
  <section class="rightPart">
    <div class="containerNav">
      <ul class="navPodcast">
        <li class="selected">Popular</li>
        <li>Reciente</li>
        <li>Tendencia</li>
      </ul>
    </div>
    <div class="containerPodcast" id="containerPodcast">
      <div class="podcast" *ngFor="let dataPodcast of podcastItems">
        <div class="buttonPlay">
          <audio src="{{dataPodcast.entity.data.audioPreview.url}}" controls preload="auto"></audio>
        </div>
        <div class="informationPodcast">
          <p class="titlePodcast">{{dataPodcast.entity.data.name}}</p>
        </div>
        <div class="duration">
          <p>2:25</p>
        </div>
        <div class="audioItem">
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>