<app-nav></app-nav>
<main>
  <section class="leftPart">
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">The last of us</p>
        <p class="descriptionTarget">
          Es un video juego de consola multijugador para toda la familia
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_1.png"
        alt=""
      />
    </div>
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">Valorant: conoce a Gekko</p>
        <p class="descriptionTarget">
          Los amigos de Gekko pueden plantar la spike, cefar a los enemigos, incluse desahabilitarlos.
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_2.png"
        alt=""
      />
    </div>
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">The new features in java 20</p>
        <p class="descriptionTarget">
          Upgrade of standard Java due this month adds yet another incubation of the vector API to its list
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_3.png"
        alt=""
      />
    </div>
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">Nationale portrait Gallery</p>
        <p class="descriptionTarget">
          La Galeria Nacional de Retratos presenta un
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_4.png"
        alt=""
      />
    </div>
  </section>
  <section class="centerPart">
    <img
    class="imageBackground"
    src="../../../assets/News/News 1/Cajon medio/img/Trazado 68.png"
    alt=""
  />
    <div class="categoryAndTitle">
      <button>Category</button>
      <p>The last of us</p>
    </div>
    <div class="tiktokApi">
      <div class="headerTikTok">
        <img src="../../../assets/News/News 1/Cajon medio/Imagen 59.png" alt="">
      </div>
      <div class="sectionVideos">
        <img src="../../../assets/News/News 1/Cajon medio/Grupo de desplazamiento 14.png" alt="">
      </div>
    </div>
    <div class="information">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione animi
        quasi tenetur harum corrupti ex ea delectus, architecto consequatur
        pariatur expedita accusantium aut, velit quibusdam optio dolorum ut
        officia a! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Amet, eos inventore? Vitae nobis molestiae molestias quod earum id
        eligendi architecto at, odit nostrum corporis repellendus
        necessitatibus, et sequi quia unde!
      </p>
      <div class="targetVideo">
        <div class="targetVideoMin">
          <a href="">
            <img src="../../../assets/News/News 1/Cajon medio/img/Rectángulo 359.jpg" alt="" />
          </a>
        </div>
        <div class="targetVideoMin">
          <a href="">
            <img src="../../../assets/News/News 1/Cajon medio/img/Rectángulo 360.jpg" alt="" />
          </a>
        </div>
        <div class="targetVideoMin">
          <a href="">
            <img src="../../../assets/News/News 1/Cajon medio/img/Rectángulo 362.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="buttonsEnd">
      <a class="lookVideo" href="">Ver video corto</a>
      <a class="readArticule" href="">Leer el articulo completo</a>
    </div>
  </section>
  <section class="rightPart"></section>
</main>
<app-footer></app-footer>
