<app-nav></app-nav>
<main>
  <section class="leftPart">
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">The last of us</p>
        <p class="descriptionTarget">
          Es un video juego de consola multijugador para toda la familia
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_1.png"
        alt=""
      />
    </div>
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">The last of us</p>
        <p class="descriptionTarget">
          Es un video juego de consola multijugador para toda la familia
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_2.png"
        alt=""
      />
    </div>
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">The last of us</p>
        <p class="descriptionTarget">
          Es un video juego de consola multijugador para toda la familia
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_3.png"
        alt=""
      />
    </div>
    <div class="targetNew">
      <div class="content">
        <div class="buttonDate">
          <button>Category</button>
          <span>17 de Marzo de 2022</span>
        </div>
        <hr />
        <p class="titleTarget">The last of us</p>
        <p class="descriptionTarget">
          Es un video juego de consola multijugador para toda la familia
        </p>
      </div>
      <img
        src="../../../assets/News/News 1/Img_News/Ns_4.png"
        alt=""
      />
    </div>
  </section>
  <section class="centerPart">
    <div class="categoryAndTitle">
      <button>Category</button>
      <p>The last of us</p>
    </div>
    <div class="tiktokApi">

    </div>
    <hr />
    <div class="information">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione animi
        quasi tenetur harum corrupti ex ea delectus, architecto consequatur
        pariatur expedita accusantium aut, velit quibusdam optio dolorum ut
        officia a! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Amet, eos inventore? Vitae nobis molestiae molestias quod earum id
        eligendi architecto at, odit nostrum corporis repellendus
        necessitatibus, et sequi quia unde!
      </p>
      <div class="targetVideo">
        <div class="targetVideoMin">
          <a href="">
            <img src="../../../assets/Registro mockup.PNG" alt="" />
          </a>
        </div>
        <div class="targetVideoMin">
          <a href="">
            <img src="../../../assets/Registro mockup.PNG" alt="" />
          </a>
        </div>
        <div class="targetVideoMin">
          <a href="">
            <img src="../../../assets/Registro mockup.PNG" alt="" />
          </a>
        </div>
      </div>
    </div>
    <img
    class="imageBackground"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8ZkTKR3xwPBCw6HXAnBI_x7F6O-jHajHgmQ&usqp=CAU"
    alt=""
  />
  </section>
  <section class="rightPart"></section>
</main>
<app-footer></app-footer>
