main{
  width: 95%;
  height: 95vh;
  display: flex;
  margin: auto;

 margin-top: 7rem;

}
.leftPart{
  height: 100%;
  width: 40%;
  overflow-y: scroll;
  direction: rtl;

}

.leftPart::-webkit-scrollbar{
  width: 5px;
  height: 50px;
}

.leftPart::-webkit-scrollbar-thumb{
  background: #5ab770;
  border-radius: 10px ;
}


.targetNew{
  position: relative;
  background-color: #393939;
  border-radius: 30px;
  display: flex;
  margin: 25px;
  direction: ltr;
  height: 130px;
  cursor: pointer;
}

.targetNew .content{
  position: relative;
  width: 75%;
  padding: 10px 20px;
}

.content .buttonDate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonDate span{
  font-size: 8pt;
}

.targetNew button{
  padding: 0.5rem 2rem;
  background-color: gray;
  border-radius: 8px;
  border: none;
  max-height: 40px;
  overflow-y: auto;
}

.targetNew hr{
  position: absolute;
  top: 30%;
  width: 90%;
  height: 2px;
  border: none;
  background-color: gray;
}

.targetNew .titleTarget{
  font-size: 10pt;
  font-weight: 400;
  max-height: 50px;
  overflow-y: auto;
}
.targetNew .descriptionTarget{
  font-size: 8pt;
  font-weight: 400;
  max-height: 22px;
  overflow-y: auto;
  direction: ltr;
}

.targetNew img{
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 115px;
}

.centerPart{
  width: 50%;
  position: relative;
  margin: 20px;
}

.centerPart .imageBackground{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  border-radius: 30px;
}

.categoryAndTitle{
  display: flex;
}

.categoryAndTitle button{
  margin: 20px
  ;
}

.tiktokApi{
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 15px;
  border: 1px solid gray;
  margin-left: 20px;
  background-color: #111111;
}

.headerTikTok{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.headerTikTok img{
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.sectionVideos{
  width: 100%;
  height: 80%;
}

.sectionVideos img{
  width: 100%;
  object-fit: cover;
}

.information{
  margin: 20px;
}

.targetVideo{
  display: flex;
  width: 100%;
}

.targetVideo .targetVideoMin{
  width: 25%;
  margin-right: 30px;
}

.targetVideo .targetVideoMin a img{
  width: 100%;
  object-fit: cover;
}

.categoryAndTitle{
  display: flex;
  align-items: center;
}

.categoryAndTitle button{
  height: 30px;
  padding: 0.5rem 2rem;
  background-color: gray;
  border-radius: 8px;
  border: none;
}

.categoryAndTitle p{
  font-size: 28pt;
}

.buttonsEnd{
  display: flex;
}
.buttonsEnd a{
  border-radius: 15px;
  margin: 20px;
  padding: 0.8rem 1.8rem;
  color: white;
}

.lookVideo{
  background-color: transparent;
  border: 1px solid #393939;
}

.readArticule{
  background-color: #262626;
  border: 1px solid #393939
}

.rightPart{
  height: 100%;
  width: 20%;
  background-color: #393939;
  border-radius: 10px;
}

.containerNav{
  width: 100%;
}

.navPodcast{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #393939;
  padding: 0;
  margin: 0;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.navPodcast li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.selected{
  background-color: #262626;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.containerPodcast{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #262626;
  max-height: 100%;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.podcast{
  display: flex;
  border-bottom: 1px solid gray;
  height: 110px;
  margin: 10px 5px;
}

.buttonPlay{
  width: 25%;
  margin: 10px;
  position: relative;
  height: 70px;

}

.buttonPlay > button{
  height: 100%;
  width: 100%;
  background-color: #393939;
  border: none;
  color: #5ab770;
  font-size: 15pt;
  border-radius: 10px;
  cursor: pointer;
}

.buttonPlay > button:hover{
transform: scale(1.05);
}

.informationPodcast{
  width: 50%;
  margin: 10px;
}

.duration{
  width: 25%;
  margin: 10px;
}

.buttonPlay audio{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  height: 60px;
}