main{
  width: 100%;
  height: 70vh;
  display: flex;
}
.leftPart{
  height: 70vh;
  width: 30%;
  overflow: scroll;
}

.targetNew{
  position: relative;
  background-color: #393939;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.targetNew .content{
  position: relative;
  width: 60%;
  padding: 10px 20px;
}

.content .buttonDate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonDate span{
  font-size: 8pt;
}

.targetNew button{
  padding: 0.5rem 2rem;
  background-color: gray;
  border-radius: 8px;
  border: none;
}

.targetNew hr{
  position: absolute;
  top: 30%;
  width: 90%;
  height: 2px;
  border: none;
  background-color: gray;
}

.targetNew .titleTarget{
  font-size: 15pt;
  font-weight: 400;
}
.targetNew .descriptionTarget{
  font-size: 10pt;
  font-weight: 400;
  max-height: 50px;
  overflow: scroll;
}

.targetNew img{
  position: absolute;
  right: 0;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

.centerPart{
  height: 70vh;
  width: 50%;
  border: 1px solid red;
  position: relative;
}

.centerPart .imageBackground{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

.categoryAndTitle{
  display: flex;
}

.categoryAndTitle button{
  margin: 20px
  ;
}

.information{
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.targetVideo{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.targetVideo .targetVideoMin{
  width: 30%;
  margin-right: 20px;
}

.targetVideo .targetVideoMin a img{
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.rightPart{
  height: 70vh;
  width: 20%;
  border: 1px solid blue;
}
