<app-nav></app-nav>
<main>
    <div class="content">
        <section>
            <h2>ORO</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque nam rem enim? Error quasi placeat officia, 
                iste accusantium et eveniet molestias quae quam ad a facere. Accusantium, enim itaque!
            </p>
            <h3>$54.900</h3>
            <button>ADQUIRIR</button>
        </section>
        <section>
            <h2>PLATA</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque nam rem enim? Error quasi placeat officia, 
                iste accusantium et eveniet molestias quae quam ad a facere. Accusantium, enim itaque!
            </p>
            <h3>$54.900</h3>
            <button>ADQUIRIR</button>
        </section>
        <section>
            <h2>BRONCE</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque nam rem enim? Error quasi placeat officia, 
                iste accusantium et eveniet molestias quae quam ad a facere. Accusantium, enim itaque!
            </p>
            <h3>$54.900</h3>
            <button>ADQUIRIR</button>
        </section>
    </div>
</main>
<app-footer></app-footer>
