* {
  font-family: "Product Sans", sans-serif;
  color: white; 
  margin-right: 15px;
}
.nav{
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 10;
}
.menu{
  width: 100%;
  position: absolute;
}

.menu > ul {
  display: flex;
  justify-content: right;
}

.menu > ul > li {
  margin: 0 20px;
  list-style: none;
}
img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  padding: 20px;
  margin-left: 50px;
}
.menu > ul > li > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 10px 20px;
}

.menu > ul > hr {
  color: #2d2d2d;
  margin: 0;
}

.menu > ul > li > button {
  width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.menu > ul > li {
  margin: 0 20px;
  list-style: none;
}

#btnRegister{
  background-color: #1a1a1a;
}

#btnLogin{
  background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
}

.menu > ul > li > a:hover {
  background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
  border: none;
  color: white;
  border-radius: 20px;
}

/* NAV LOGING*/

.loguin {
  width: 100%;
  position: absolute;
  
}

.loguin > ul {
  display: flex;
  justify-content: left;
  margin-top: 7%;
}

.loguin > ul > li{
  list-style-type: none;
}
.loguin > ul > li > img {
  margin: 70% 0 0 -100%;
  object-fit: contain;
  width: 20px;
  height: 15px;
  padding: 10px;
  border-radius:10px;
  background-color: #2d2d2d;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#option {
  object-fit: contain;
  background-color: #2d2d2d;
  border-radius: 0px 0px 15px;
  border: none;
  padding: 10px;
  width: 25px;
  height: 55px;
  cursor: pointer;
  margin-left: -5px;
  display: flex;
  justify-content: start;
}

.loguin > ul > li > label > img{
  margin: 0 0 0 -10%;
  object-fit: contain;
  cursor: pointer;
}
.loguin > ul > li > aside > img{
  object-fit: contain;
  width: 10%;
}

.loguin > ul > li >section > a >img{
  object-fit: contain;
  width: 10%;
  margin: -20px 0 0 0;
}

.loguin > ul > li > section {
  background-color:#2d2d2d;
  width: 80%;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10% 0 0 -5px;
} 

.loguin > ul > li >section > img{
  object-fit: contain;
  width: 50px;
  margin:  -25px 0 0 -5%;
}

 hr{
  height: 50px;
  margin: 20px 10px 0 0;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 110%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
  padding: 5px;
	color: #fff;
	text-decoration: none;
  margin-left: -15px;
}

.nav-loguin li :hover .submenu{
	visibility: visible;
	opacity: 1;
  width: 7%;
  border-radius: 10px;
  list-style-type: none;
}


/*Menù lateral*/
#btn-menu{
  display: none;
}
.container-menu{
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  top: 0;left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
  opacity: 1;
  visibility: visible;
}
.cont-menu{
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
  transform: translateX(0%);
}
.cont-menu nav{
  transform: translateY(15%);
}
.cont-menu nav a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover{
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label{
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin de Menù lateral*/
.header{
  width: 5%;
  height: 100px;
  position: fixed;
  top: 0;left: 0;
}
