*{
    font-family: 'Product Sans', sans-serif;

}

.topics > div {
    margin:  0 0 0 5%;
}

.topics > div > input{
    border-radius: 15px;
    height: 5%;
    padding: 3%;
    width: 80%;
    background-color: transparent;
    color: white;
    
}
.topics > div > input::placeholder{
    padding: 8%;
    color: white;
}
main{
    margin: 10% 0 0 0;
}
.curse{
    display: grid;
    grid-template-columns: 20% 70%;
    margin:  0 0 0 5%;
}

.topics-curse {
    overflow-y: scroll;
    direction:ltr;
}

.topics-curse{
    display:grid ;
    width: 100%;
    grid-template-columns: 50% 50%;
}
.curseDC{
    display: grid;
    grid-template-rows: 20% 70%;
    margin: 5% 0 0 0;
}

.conteiner-category{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 0 0 -2%;
}

.detail-curse{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 130%;
}


.category{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #1a1a1a;
    border-radius: 20px;
    border-color: aliceblue  solid;
    margin: 0 0 0 5%;
    height: 70%;
   }
    .category > img {
    object-fit:contain;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    margin: 5% 0 0 10%;
    }
    
    .category > label > p{
        margin: -15px 0 0 10px;
        font-size: 13px;
        width: 80%;
    }
    .category > label > h5{
        margin: 10% 0 5% 10px;

    }

    .conteiner-category :hover{
    background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
    cursor: pointer;
    cursor: pointer;border-radius: 20px;
    }


    .detail-curse{ 
        background-color: #1a1a1a;
        border-radius: 15px;
    }

    iframe{
        width: 100%;
        height: 100%;
        border-radius: 15px 0 0 15px ;
    }

    .detail-curse > label > p{
        width: 80%;
        margin: 0 0 0 10%;
    }
    .detail-curse > label > h3{
        width: 80%;
        margin: 5% 0 0 10%;
        font-family: 'Outer Limits Solid', sans-serif;
        font-weight: 300;
    }
    .detail-curse > label > hr{
        width: 80%;
        margin: 3% 0 3% 10%;
    }


    .detail-curse > label > section > h4{
        font-size: 30px;
        margin: -10% 0 3% 13%;
    }

    .detail-curse > label > section > h5{
        font-size: 15px;
        margin: 0 0 3% 13%;
    }
    .detail-curse del{
        
        margin: 0 0 0 2%;
    }

    .detail-curse > label > section > hr{
        transform: rotate(90deg);
        width: 20%;
        margin: 15% 0 3% 0;
    }

    .detail-curse > label > button{
        margin: 3% -10% 3% 15%;
        height: 10%;
        width: 30%;
        background-color: transparent;
        border-radius: 15px;
        color: white;
        border: 1px white solid;
    }

    
    .detail-curse > label > button:hover{
        border: 2px rgba(28,178,162,1 )solid;
        cursor: pointer;
    }

    .info-course{
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: transparent;
        border-radius: 15px;
        border: 1px white solid;
        width: 80%;
        height: 30%;
        margin: 0 0 10% 8%;
        padding: 0 0 5% 0;
    }


    .person{
        margin: 20% 0 0 0;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 150%;
        }
        .person-perfil{
            width: 80%;
            margin: 0 0 0 10%;
        }
        .person-perfil > img{
            object-fit: contain;
            width: 50%;
            border-radius: 50%;
            margin: 0 0 0 6%;
        }

        .person-perfil > hr{
            width: 30%;
            margin: 5% 0 2% 15%;
            
        }
        .person-perfil > p{
            margin: 0 0 0 10%;
            font-size: 13px;
        }
        .person > label > h5{
            font-size: 15px;
            margin: 2% 0 0 -35%;
            display: inline-block;

        }
        
        .person > label > h3{
            display: inline-block;
            margin: -6% 0 0 -35%;
            width: 80%;
            font-size: 15px;
        }

        .person > label{
            display: grid;
            grid-template-rows: 25% 25% 25% 25%;
        }
        .person > label > hr{
            width: 60% ;
            height: 0.01px;
            margin: 15px;
            margin: 0 0 0 -33%;
        }

        .qualification{
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            width: 60%;
            margin-top: -19%;
            margin-left: -35%;
        }

        .qualification > button{
            background-color: transparent;
            border: none;
            height: 40%;
            width: 100%;
        }
        .qualification > button >img{
            object-fit: contain;
            width: 100%;
            height: 40%;
        }
        .details-info-curso{
            display: grid;
            grid-template-rows: 33% 33% 33%;
        }
        .details-info-curso > label > img{
            width: 10%;
            object-fit: cover;
            padding: 10px;
            background-color:rgba(28,178,162,1) ;
            border-radius: 50%;
            margin: 10% 0 0 10%;
        }

        .details-info-curso > label > h5{
            display: inline-block;
            vertical-align: text-top;
            margin: -10% 0 0 5%;
        }
        .details-info-curso > label > p{
            margin: -10% 0 0 35%;
            font-size: 13px;
            
        }

        .topics-curse > label > a > button{
            background-color: #1a1a1a;
            border-radius: 10px;
            border: 1px white solid;
            color: white;
            width: 60%;
            height: 40%;
            font-size: 20px;
            padding: 0 0 20px 0;
            margin: 0 0 0 22%;
            text-align: center;
        }
        .topics-curse > label > a > button:hover{
            border: 2px rgba(28,178,162,1 )solid;
            cursor: pointer;
        }
    
        .topics-curse > label > p{
            margin: 5px 0 0 0;
            text-align: center;
            font-size: 13px;
            
        }

        .topics-curse {
            width: 80%;
            margin: 0 0 0 12%;
        } 

        .topics > h3 {
            margin: 10% 0 0 10%;
        }

        .topics > p {
            width: 80%;
            margin: 10% 0 10% 10%;
        }

        .topics > hr {
            width: 70%;
            margin: 5% 0 0 10%;
        }

        /* RETOS*/ 

        .new-challenges{
            display: grid;
            grid-template-columns: 20% 80%;
            margin: 10% 0 0 3%;
        }

     time > img{
       width: 5%;  
       object-fit: contain;
       vertical-align: text-top;
       margin: 0 2% 5% 0;
    }

    .plan{
        width: 90%;
        background-color: #1a1a1a73;
        display: grid;
        grid-template-columns: 70% 30% ;
        border-radius: 15px;
        border: 1px #302e2e86 solid ;
        margin: 0 10% 0 10%;
    }
    .plan > label > img {
        width: 15%;
        vertical-align: text-bottom;
        margin: 10% 0 0 10%;
    }
    .plan > label > u {
        margin: 0 0 0 5%;
        display: inline-block;
        font-size: 15px;
        width: 50%;
        color: rgba(28,178,162,1);
        
    }
    .plan > label > u:hover {
    cursor: pointer;
        
    }
    .plan > label > h2 {
        margin: 5% 0 0 10%;
        font-size: 20px;
    }

    .plan > label > h3 {
        margin: 30% 0 0 10%;
        font-size: 15px;
    }

    .conteiner-new-challenge{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 90%;

    }
    .section-challenge{
        display: grid;
        grid-template-rows: 20% 80%;
        margin: 0 0 0 5%;
    }
    .new-challenge{
        width: 95%;
        background-image: linear-gradient(to top, #030303af 25%, #3f3e3ecb 40%),url("https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/nft-images/20211120/Black_White_Bored_Ape__1637458806918.jpeg");
        background-size:cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin: 5% 0 0 0;
        
    }
    .new-challenge > h5{
        font-size: 15px;
        margin:  15% 0 0 10%;
    }
    .new-challenge > h4{
        font-size: 15px;
        margin:  1% 0 0 10%;
    }
    .new-challenge > time{
        font-size: 15px;
        margin:  0 0 10% 10%;
        font-size: 10px;

    }
    .new-challenge > button{
        color: white;
        margin:  -10% 0 8% 85%;
        font-size: 10px;
        border-radius: 5px;
        width: 10%;
        height: 25%;
        background-color: transparent;
        display: flex;
        background-image: url(../../../assets/new/ArrowR.png);
        border: 1px rgba(28,178,162,1 )solid;
        background-size:25% 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .new-challenge > button:hover{
        border: 3px rgba(28,178,162,1 )solid;
        cursor: pointer;
    }

    .category-challenge{
        display: grid;
        grid-template-columns: 15% 60% 5% 10%;
        margin: 5% 0 0 0;
    }
    .category-challenge > hr{
        width: 95%;
        height: 0.1px;
        margin: 1% 0 0 5%;
    }
    .category-challenge > p{
        font-size: 15px;
        margin: 0 0 0 15%;
        text-align: end;
    }

    .category-challenge > p{
        font-size: 15px;
        margin: 0 0 0 15%;
        text-align: end;
    }
    .category-challenge >label > button{
        background-color: #1a1a1a73;
        border-radius: 5px;
        width: 25%;
        height: 100%;
        margin: -5% -6% 0 5%;
        border: none;
        padding: 5%;
    }
    .category-challenge >label > button:hover{
    cursor: pointer;
    border: 1px rgba(28,178,162,1 )solid;
    }
.conteiner-challenge{
    display: grid;
    grid-template-columns: 30% 22% 22% 22%;
    margin: 3% 0 0 2%;
}
.challenge{
    background-color: #1a1a1a73 ;
    border-radius: 15px;
    width: 90%;
    display: grid;
    grid-template-rows: 45% 15% 20% 10%;
    margin: 0;
}

.challenge > img{
object-fit: cover;
width: 100%;
height: 90%;
border-radius:15px 15px 0 0 ;
}
.challenge > label{
display: grid;
grid-template-columns: 20% 50% 15% 25%;
}
.challenge > label > img{
width: 30%;
object-fit: contain;
margin: 2% 0 0 44%;
}
.challenge > label > button{
    background-color: transparent;
    border: none;
    height: 50%;
    width: 80%;
}

.challenge > label > button >img{
    object-fit: contain;
    width: 50%;
    vertical-align: bottom;
}
.challenge > label > h3{
margin: -1% 0 0 0;
}
.challenge > label > p{
margin: -2% 0 0 0;
}
.challenge > p{
margin: 0 0 0 10%;
text-align: justify;
width: 80%;
font-size: 12px;
}
.challenge > label > div > h5{
margin: 0;
}
.challenge > label > div > h3{
margin: 0;
}

.challenge > button{
width: 80%;
border-radius: 15px;
font-size: 15px;
color: white;
background-color: #1a1a1a; 
text-align: center;
border: 1px rgba(28,178,162,1 )solid;
margin: 0 0 0 10%;
}

.challenge > button:hover{
cursor: pointer;
border: 3px rgba(28,178,162,1 )solid;
}