*{
  font-family: 'Product Sans', sans-serif;
  margin: 0;
}

hr{
  margin: 15px 0;
}

.container{
  padding: 50px;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.header > .header-rigth > p > a{
  color: #40B584;
  text-decoration: none;
}

.main{
  display: flex;
}

.slide{
  width: 80%;
}

.section-log{
  width: 50%;
  margin: auto;
}

.section-log > form > .optionLogin{
  display: flex;
  flex-direction: row !important;
  align-items: center;
 justify-content: center;
}

.section-log > form > .optionLogin > hr{
  width: 100% !important;
}

.section-log > form > .optionLogin > span{
  display: block;
  white-space: nowrap;
}

.section-log > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  background-color: #1A1A1A;
}

.section-log > form > div{
  display: flex;
  flex-direction: column;
  margin: 20PX 0;

}

.section-log > form > div > span{
  color: #40b584;
}

.section-log > form > button, input{
  background: none;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  color: #fff;
}

.section-log > form > .optionLogin{
  display: flex;
}
.section-log > form > .optionLogin > hr{
  width: 25%;
}

.section-log > form > .optionLogin > span{
  margin: 0 10px;
}

.section-log > form > .password > span {
  margin: 5px 0px;
}

.section-log > form > .password > span > a {
  color: #FFF;
}

.section-log > form > button {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

#btnGoogle{
  color: #fff;
  text-decoration: none;
  background: #1A1A1A;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width:768px) {
  .section-log{
    width: 100%;
  }
}

