<app-nav></app-nav>
<link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
<div class="container">
  <div class="header">
    <div class="header-left">
      <span>Hola de nuevo</span>
      <h2>INICIA SESION</h2>
    </div>
    <div class="header-rigth">
      <p>¿Eres nuevo? <br><a href="">Crea una cuenta</a></p>
    </div>
  </div>
  <hr />
  <div class="main">
    <section class="section-log">
      <form>
        <button id="btnGoogleLog">Iniciar sesion con Google</button>
        <div class="optionLogin">
          <hr/>
          <span>O inicia con</span>
          <hr/>
        </div>
        <div class="email">
          <span>Email</span>
          <input
            type="text"
            formControlName="email"
            id=""
            placeholder="Ingresa tu correo"
            class="input-large"
          />
        </div>
        <div class="password">
          <span>Contraseña</span>
          <input
            type="password"
            formControlName="password"
            id=""
            placeholder="Ingresa tu contraseña"
            class="input-large"
          />
          <span><a href="#">Olvide mi contraseña</a></span>
        </div>
        <button type="submit">Continuar</button>
      </form>
    </section>
  </div>
</div>
<app-footer></app-footer>