<section class="main">
  <div class="info">

  </div>
  <div class="form">
    <div class="topSection">
      
      <div class="sectionStep">
        <p>Continua el proceso para subir tu curso nuevo</p>
        <div class="steps">
          <div class="step">
            <div class="iconHr">
              <i [ngClass]="{'active' : colorDiamont >= 1}" class="fa-solid fa-diamond"></i>
              <hr>
            </div>
            <p [ngClass]="{'activeText' : colorText >= 1}" >1 paso:<br> Personalización</p>
          </div>
          <div class="step">
            <div class="iconHr">
              <i [ngClass]="{'active' : colorDiamont >= 2}" class="fa-solid fa-diamond "></i>
              <hr>
            </div>
            <p [ngClass]="{'activeText' : colorText >= 2}" >2 paso:<br> Módulos</p>
          </div>
          <div class="step">
            <div class="iconHr">
              <i [ngClass]="{'active' : colorDiamont >= 3}" class="fa-solid fa-diamond"></i>
              <hr>
            </div>
            <p [ngClass]="{'activeText' : colorText >= 3}" >3 paso:<br> Archivos Adjuntos</p>
          </div>
          <div class="buttonNext">
            <button (click)="previousStep()"><i class="fa-solid fa-chevron-left"></i></button>

            <button><i class="fa-solid fa-{{textoBoton}}"></i></button>
          </div>
        </div>
      </div>

    </div>
    <div class="sectionForm">
      <div class="containerForm" id="containerForm">
        <div class="box">
          <div class="uploadImage" id="uploadImage">
            <p>Nombre del curso : </p>
            <input class="inputBox" name="courseName" placeholder="Nombre del curso" type="text">
            <p>Subir portada : </p>
            <label for="file-upload" class="custom-file-upload">
              <i class="fa-solid fa-file-arrow-up"></i> Subir Imagen
            </label>
            <input class="inputBox" id="file-upload" type="file" (change)="onFileSelected($event)">
          </div>
          <div class="infoCourse">
            <p>Categoria del curso : </p>
            <select name="" id="">
              <option value="" disabled selected>Selecciona una categoria</option>
            </select>
            <!-- <p>Nivel del curso : </p>
            <select name="" id="">
              <option value="" disabled selected>Selecciona una nivel</option>
            </select> -->
            <p>Descripción del curso : </p>
            <textarea name="courseDescription" placeholder="Descripcion del curso" type="text"></textarea>
             <button (click)="nextStep()">Siguiente</button>
          </div>
        </div>
        <div class="box">
          <div class="infoCourse" id="modules">

          </div>
          <button (click)="createElementModule()" >Agregar módulo</button>
        </div>
        <div class="box">
        
        </div>
      </div>
    </div>
  </div>
</section>