.main{
  display: flex;
  width: 100%;
  border: 1px solid #656565;
  background-color: #272727;
  border-radius: 1rem;

}

.info{
  width: 40%;
  border-right: 1px solid #656565;
}

.form{
  width: 60%;
  
}

.topSection{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #656565;
}

.sectionStep{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.steps{
display: flex;
justify-content: space-evenly;
}

.step{
  width: 25%;
  margin: 0 20px 0 0;
}

.step p{
  color: #656565;
}

.iconHr{
  display: flex;
}

.iconHr hr{
  width: 100%;
  margin-left: 20px;
}

.active{
  color: #30b491;
}

.activeText{
  color: white !important;
}

.buttonNext{
  border-left: 1px solid gray;
  display: flex;
}

.buttonNext button{
  margin: 0 0px 0 20px;
  border: none;
  height: 100%;
  width: 50%;
  border-radius: 0.5rem;
  font-size: 22pt;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.none{
  display: none;
}

.sectionForm{
  width: 100%;
  overflow: hidden;
}

.containerForm{
  width: 300%;
  display: flex;
  overflow: auto;
}

.box{
  width: 33.3%;
  display: flex;
  max-height: 415px;
  overflow: auto;
}

.uploadImage{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#file-upload{
  display: none;
}

.custom-file-upload {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2e2e2e;
  color: white;
  border: 2px dashed gray;
  border-radius: 1rem;
  font-size: 22pt;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px 0;
}

.custom-file-upload i{
  margin-right: 10px;
}

.custom-file-upload:hover {
  background-color: #656565;
}

.infoCourse{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.inputBox{
  resize: none;
  margin: 10px 0;
  width: 350px;
  padding: 5px 0 5px 10px;
  border: 1px solid #656565;
  background-color: #272727;
  border-radius: 1rem;
  color: white;
  height: 40px;
}

select, textarea, button{
  resize: none;
  margin: 10px 0;
  width: 350px;
  padding: 5px 0 5px 10px;
  border: 1px solid #656565;
  background-color: #272727;
  border-radius: 1rem;
  color: white;
  height: 40px;
}
.box select, button{
  cursor: pointer;
  width: 362px;
}

.box select{
  width: 365px;
  height: 52px;
}

.box button{
  background: linear-gradient(167deg, rgba(28,178,162,1) 0%, rgba(104,184,100,1) 100%);
  border: none;
}

.box textarea{
  height: 150px;
}

.box p{
  margin: 5px 0;
}

.formClass{
  margin: 20px;
  padding: 20px;
  border: 1px solid #656565;
  background-color: #272727;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

#btnCreateClass{
  display: none;
}

.inputClases{
  margin: 10px 0;
  width: 350px;
  padding: 5px 0 5px 10px;
  border: none;
  border-radius: 1rem;
  color: white;
  height: 40px;
}

.infoClass{
  width: 50%;
}

.containerUrl{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2e2e2e;
  color: white;
  border: 2px dashed gray;
  border-radius: 1rem;
  font-size: 22pt;
  justify-content: center;
  align-items: baseline;
  margin: 10px 0;
}

.containerUrl p{
  color: #656565;
  font-size: 12pt;
}

.formClass input{
  background-color: transparent;
  border: none;
  height: 20px;
}

.containerButtons{
  display: flex;
}

.containerButtons button{
  cursor: pointer;
  width: 40%;
  margin: 0 20px;
}

.inputClase{
  background-color: #202020;
  padding: 20px;
  color: #5c5c5c;
  border-radius: 1rem;
  border: none;
  margin: 20px;
  width: 405px;
}

.inputClase:hover{
  background-color: #656565;
  padding: 20px;
  color: white;
}