<footer>
    <link href="https://fonts.cdnfonts.com/css/outer-limits-solid" rel="stylesheet">
                
    <link href="https://fonts.cdnfonts.com/css/alien-energy" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <div class="suscription">
        <h2>PUBLICIDAD MODERNA CREATIVA Y EXPERIENCIA DIGITAL</h2>
        <p>Suscribite para recibir lanzamientos,descuentos, y contenido del mundo de la inmersidad</p>
        <div class="data">
            <img src="../../../assets/footer/cuboblanco.png">
            <label class="boton-input">
            <input type="email" placeholder="Ingresa el email"> 
            <button> suscribete </button>
        </label>

        </div>

    </div>
    <div class="container">
        <div class="accesos" >
            <img src="../../../assets/logo.png">
            <div class="social">
                <a href="#"><img src="../../../assets/footer/twitter.png" alt="twitter"></a>
                <a href="#"><img src="../../../assets/footer/twitch.png" alt="twitch"></a>
                <a href="#"><img src="../../../assets/footer/discord.png" alt="discord"></a>
                <a href="#"><img src="../../../assets/footer/facebook.png" alt="facebook"></a>
                <a href="#"><img src="../../../assets/footer/instagram.png" alt="instagram"></a>
            </div> 
        </div>
        <div class="accesos">
            <h4> Acerca de </h4>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
        
        </div>
        <div class="accesos">
            <h4> Acerca de </h4>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
        </div>
        <div class="accesos">
            <h4> Acerca de </h4>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
        </div>
        <div class="accesos">
            <h4> Acerca de </h4>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
            <li> Lorem </li>
        </div>
    </div>
    <hr>
    <div class="terminosyCondiciones">
       <li>Metanimation</li>
       <li>Privacidad</li>
       <li>Terminos y condiciones</li>
    </div>
</footer>