<app-nav></app-nav>
<link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
<div class="container">
  <div class="header">
    <div class="header-left">
      <span>Empieza a explorar gratis</span>
      <h2>CREAR UNA NUEVA CUENTA</h2>
    </div>
    <div class="header-rigth">
      <p>¿Ya eres miembro? <a href="">Inicia sesión</a></p>
    </div>
  </div>
  <hr />
  <div class="main">
    <section class="section-left">
      <div class="backgroundImage">
        <button id="backSlide" class="backSlide"></button>
        <img src="../../../assets/Register/Grupo de desplazamiento 9.png" alt="">
      </div>
      <div class="slide"><hr /></div>
      <div class="information">
        <p>Paso 1 de 4</p>
        <h2>CON TU INFORMACION <br>BÁSICA YA SERÁS PARTE</h2>
      </div>
    </section>
    <section class="section-right">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <button id="btnGoogle"><img src="../../../assets/Register/Google_Icon.png" alt=""> <p>Resgitrate con Google</p></button>
        <div class="optionRegister">
          <hr/>
          <span>O resgitrate con</span>
          <hr/>
        </div>
        <div class="Cedula">
          <div class="Cedula">
            <span>Cedula</span>
            <input
              type="text"
              formControlName="Cedula"
              id=""
              placeholder="Cedula"
            />
          </div>
        </div>
        <div class="namesAndLastNames">
          <div class="names">
            <span>Nombres</span>
            <input
              type="text"
              formControlName="Nombre"
              id=""
              placeholder="Ingresa tu nombre"
            />
          </div>
          <div class="lastName">
            <span>Apellido</span>
            <input
              type="text"
              formControlName="Apellido"
              id=""
              placeholder="Ingresa tu apellido"
            />
          </div>
        </div>
        <div class="number">
          <span>Número</span>
          <input
            type="text"
            formControlName="Celular"
            id=""
            placeholder="Ingresa tu número"
            class="input-large"
          />
        </div>
        <div class="email">
          <span>Email</span>
          <input
            type="email"
            formControlName="Email"
            id=""
            placeholder="Ingresa tu correo"
            class="input-large"
          />
        </div>
        <div class="password">
          <span>Contraseña</span>
          <div class="inputAndButtonPassword">
          <input 
          type="password"
           [(ngModel)]="password" 
           formControlName="Password"
           name="password" 
           [attr.type]="showPassword ? 'text' : 'password'" 
           placeholder="Ingresa tu contraseña"
            class="input-large"/>
          <button (click)="togglePasswordVisibility()">{{ showPassword ? 'Ocultar' : 'Mostrar' }}</button>
          </div>
        </div>
        <div class="repeatPassword">
          <span>Confirmar contraseña</span>
          <div class="inputAndButtonPassword">
          <input 
          type="password"
           [(ngModel)]="password" 
           formControlName="repeatPassword"
           name="repeatPassword" 
           [attr.type]="showRepeatPassword ? 'text' : 'Password'" 
           placeholder="Confirma tu contraseña"
            class="input-large"/>
          <button (click)="toggleRepeatPasswordVisibility()">{{ showRepeatPassword ? 'Ocultar' : 'Mostrar' }}</button>
          </div>
        </div>
        <button type="submit" [routerLink]="[ '/login']">Continuar</button>
        <div class="termsAndConditions">
          <input type="checkbox" name="iAgree" id="" />
          <p>
            Deseo recibir noticias, promociones, ofertas e información de nuevos
            productos
          </p>
        </div>
      </form>
    </section>
  </div>
</div>
<app-footer></app-footer>
