<main>
    <label><hr></label>
    <div class="team">
        <h2>TEAM</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ducimus similique quo mollitia tempora, commodi doloremque 
            quaerat voluptate quis fuga impedit rem earum, eaque perspiciatis quod. 
            Recusandae modi amet asperiores quam!
        </p>
        <img src="https://videojuegos.roams.es/images/post/es_ES_videogames/rankings-mejores-juegos-nft.jpg">
</div>

<div class="members">
    <div class="info-members">
        <img src="../../../assets/team/3135768.png">
        <hr>
        <h4>Juan Correa</h4>
        <h5>FRONT END</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/3135823.png">
        <hr>
        <h4>Diana Moya</h4>
        <h5>BACKEND</h5>
    </div>
    <div class="info-members">
        <img src="../../../assets/team/3135823.png">
        <hr>
        <h4>Vanessa Mosquera</h4>
        <h5>FRONT END</h5>
    </div>
</div>

</main>
