*{
    font-family: 'Product Sans', sans-serif;
}

.team{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    margin-left: -30%;
    
}
.team > p{
    text-align: justify;
}

.team > img{
    width: 60%;
    height: 60%;
    border-radius: 15px;
    margin: 0px 40px 0px;
    object-fit:cover;
}

.team > h2{
    display: inline-block;
    text-align: end;
    margin: 15px 20px 0px;
    font-family: 'Outer Limits Solid', sans-serif;
    font-size: 25px;
}


   .members{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: -3% 0 0 15%;
    border: 1px white solid;
    border-radius: 20px;
    padding: 50px;
    width: 60%;
   }

   div > hr{
    width:55%;
    margin: 10px 0 0 0;
   }

   .info-members > h4{
    margin: 10px 0 0 0;
   }

   .info-members > h5{
    font-family: 'Outer Limits Solid', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
   }
   .info-members > img{
    width: 60%;
   }

   .info-members {
    margin: 50px 0 50px 70px ;
   }