<main>
    <img class="logo" src="../../../assets/logo.png">
    <div class="us">
        <div class="linea">&nbsp;</div>
        <h3>NOSOTROS</h3>
        <div class="linea">&nbsp;</div>
    </div>
    <h4>UNLOCK THE POWER</h4> 
    <h5>OF YOUR</h5>
    <h2>METANIMATION</h2>
<div class="us-parrafo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui ex illum laboriosam ad incidunt modi sequi eaque doloremque fuga libero reiciendis provident distinctio hic eum dolor, repellendus harum in.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui ex illum laboriosam ad incidunt modi sequi eaque doloremque fuga libero reiciendis provident distinctio hic eum dolor, repellendus harum in.</p>
</div>
    <img class="logoB" src="../../../assets/logoblanco.png">
    <img class="sumergete" src="../../../assets/Grupo702.png">
<hr>
</main>