* {
  background: linear-gradient(257deg, rgba(0,0,0,1) 0%, rgba(34,105,101,1) 0%, rgba(0,0,0,1) 24%, rgba(0,0,0,1) 77%, rgba(29,89,86,1) 97%, rgba(29,89,86,1) 100%) !important;
  color: white;
  margin: -4px;
  padding: 0;
}
